# MongoDB Configuration
MONGO_URL=mongodb://user:password@localhost:27017/nba_fantastic?authSource=admin&directConnection=true
DATABASE_NAME=nba_fantastic
MONGO_DB_USER=user
MONGO_DB_PASSWORD=password
MONGO_DB_PORT=27017

# Redis Configuration
REDIS_URL=redis://localhost:6379
REDIS_PORT=6379
REDIS_PASSWORD=password
