DATABASE_NAME=nba_fantastic
MONGO_LOCAL_URL=mongodb://user:password@localhost:27017/nba_fantastic?authSource=admin&directConnection=true
MONGO_DB_USER=user
MONGO_DB_PASSWORD=password
MONGO_DB_PORT=27017
